{
	"arrowParens": "always",
	"useTabs": true,
	"tabWidth": 2,
	"trailingComma": "all",
	"plugins": ["@trivago/prettier-plugin-sort-imports"],
	"importOrder": [
		"^@[^/](.*)\\.s?css$",
		"^@/(.*)(?<!\\.s?css)$",
		"^@/(.*)\\.s?css$",
		"^[./](.*?)(?<!\\.s?css|\\.json)$",
		"^(.*)\\.s?css$",
		"^(.*)\\.json$"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"importOrderGroupNamespaceSpecifiers": true
}
